*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}
main{
    width: 1200px;
    margin: 0px auto;
}
/* 1-tana qismi */
.container{
    width: 1200px;
    margin: 0px auto;
}
.hero{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.link{
 text-decoration: none;   
 color: gray;
}
.link:hover{
    color: black;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}
.header-btn{
    width: 150px;
    height: 33px;
    border-radius: 20px;
    border: 2px solid black;
    color: black;
    background-color: transparent;
    font-size: 19px;

    
}
.header-btn:hover{
    background-color: black;
    color: white;
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-right{
    width: 500px;
    height: 500px;
}
.first-title{
    width: 350px;
}
.first-text{
    width: 350px;
    margin-top: 30px;
}
.first-btn{
    margin-top: 150px;
    background-color: black;
    color: white;
}
.body-left{
    padding-top: 80px;
}
.first-btn:hover{
    background-color: transparent;
    color: black;
}
/* 1-tana qismi */

/* 2-tana qismi */
h3{
    text-align: center;
    font-size: 25px;
}
.second{
    display: flex;
    align-items: flex-start;
    justify-content: space-between ;
    gap: 30px;
    margin-top: 50px;
}
.left-card{

    width: 375px;
    height: 930px;
    background-color: #e2dddd;
    
    
}
.right{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
}
.right-card{
    width: 375px;
    height: 630px;
    background-color: #e2dddd;



}
.bottom-card{
    width: 780px;
    height: 270px;
    background-color: #e2dddd;

}
.card-title-left{
    margin-left: 50px;
    font-size: 30px;
    margin-top: 40px;
}
.card-p-left{
    font-size: 15px;
    margin-left: 50px;
    width: 300px;
}
.p{
    margin-top: 30px;
}
.card-btn{
    margin-top: 70px;
    margin-left:50px ;
    width: 200px;
    height: 35px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 22px;
    background-color: white;

}





.card-img-right{
    margin-left:30px;
}
.card-title-right{
    font-size: 30px;
    margin-top: 130px;
    margin-left: 50px;

}
.card-title-right2{
    font-size: 30px;
    margin-top: 170px;
    margin-left: 50px;
}
.card-p-right{
    margin-left: 50px;
    font-size: 15px;
    margin-top: 20px;
}
.card-p-right2{
    margin-left: 50px;
    font-size: 15px;
    margin-top: 20px;
}
.card-btn1{
    margin-top: 20px;
    margin-left:50px ;
    width: 200px;
    height: 35px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 22px;
    background-color: white;

}
.card-btn2{
    margin-top: 20px;
    margin-left:50px ;
    width: 200px;
    height: 35px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 22px;
    background-color: white;

}



.bottom-card{
    display: flex;
    justify-content: space-between;
}

.bottom-left-card{
    width: 380px;
    padding-left: 30px;
    padding-top: 60px;

}
.bottom-left-card-title{
    font-size: 30px;
}
.bottom-left-card-p{
    font-size: 15px;
    margin-top: 30px;
}
.bottom-card-btn{
    margin-top: 20px;
    
    width: 200px;
    height: 35px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 22px;
    background-color: white;
}
.bottom-card-btn:hover{
    background-color: black;
    color: white;
}
.card-btn:hover{
    background-color: black;
    color: white;
}
.card-btn2:hover{
    background-color: black;
    color: white;
}
.card-btn1:hover{
    background-color: black;
    color: white;
}



/* 2-tana qismi */



/* 3-tana qismi */

.third{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.third-left{
    width: 500px;
    margin-top: 50px;
}
.third-left-title{
    font-size: 45px;
}
.third-left-p{
    margin-top: 100px;
    font-size: 15px;

}
.wrapper-number{
    margin-top: 120px;
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.number-1{
    font-size: 32px;

}
.number-2{
    font-size: 32px;
}
.number-3{
    font-size: 32px;
}
.number{
  text-align: center;
}  
.number2{
    text-align: center;
  } 
  .number3{
    text-align: center;
  } 
  .pupil{
    margin-top: 20px;
  }
  .teacher{
    margin-top: 20px;
  }
  .language{
    margin-top: 20px;
  }
  
/* 3-tana qismi */

/* 4-tana qismi */

.fourth{
    display: flex;
    justify-content: space-between;
}
.fourth-title{
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
}

.fourth-left-card{
    width: 320px;
    text-align: center;
    margin-top: 70px;


}
.fourth-center-card{
    width: 320px;
    text-align: center;
    margin-top: 70px;



}
.fourth-right-card{
    width: 320px;
    text-align: center;
    margin-top: 70px;




}
.fourth-left-img{
    width: 310px;
    height: 330px;
}
.fourth-center-img{
    width: 310px;
    height: 330px;
}
.fourth-right-img{
    width: 310px;
    height: 330px;
}
.fourth-left-title{
    margin-top: 70px;
    font-size: 20px;
}
.fourth-left-p{
    color: rgb(85, 80, 80);
    font-size: 19px;
    margin-top: 30px;


}
.left-span{
    width: 140px;
    height: 27px;
    display: flex;
    margin: 40px auto;
    background-color: rgb(184, 178, 178);
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.left-cost{
    font-weight: 900;
}
.fourth-center-title{
    margin-top: 70px;
    font-size: 20px;
}
.fourth-center-p{
    color: rgb(85, 80, 80);
    font-size: 19px;
    margin-top: 30px;


}
.center-span{
    width: 140px;
    height: 27px;
    display: flex;
    margin: 63px auto;
    background-color: rgb(184, 178, 178);
    align-items: center;
    justify-content: center;
    gap: 5px;

}
.center-cost{
    font-weight: 900;
}
.fourth-right-title{
    margin-top: 70px;
    font-size: 20px;
}
.fourth-right-p{
    color: rgb(85, 80, 80);
    font-size: 19px;
    margin-top: 30px;


}
.right-span{
    width: 140px;
    height: 27px;
    display: flex;
    margin: 63px auto;
    background-color: rgb(184, 178, 178);
    align-items: center;
    justify-content: center;
    gap: 5px;

}
.right-cost{
    font-weight: 900;
}

/* 4-tana qismi */


/* 5-tana qismi */

.fifth{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}
.fifth-right{
    width: 550px;
}
.fifth-title{
    font-size: 50px;
}
.fifth-right-p{
    width: 500px;
    margin-top: 30px;
    color: gray;
}
.fifth-form{
    margin-top: 200px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fifth-input{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid gray;
    text-indent: 20px;
}
.fifth-btn{
    width: 180px;
    border-radius: 10px;
    color: white;
    background-color: black;

}
.fifth-btn:hover{
    background-color: transparent;
    color: black;
}




.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.footer-ul{
    display: flex;
    gap: 20px;
}
.footer-ul-li{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}




